.navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.nav-buttons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-buttons>a{
    font-size: 18px;
    font-weight: 600;
    display: flex;
    gap: 8px;
    align-items: center;
    stroke: white;
    color: white;
    padding: 6px 12px;
    border-radius: 12px;
    border: 1px solid transparent;
}

.nav-buttons>a:hover{
    background: #f0ad2c;
    border: 1px solid #978080;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.nav-buttons>a>svg{
    width: 20px;
    height: 20px;
}

.selected{
    background: #f0ad2c;
    border: 1px solid #978080;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.user-profile{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile>img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;

}

.user-dropdown{
    position: absolute;
    top: 60px;
    background: #2D2937;
    border-radius: 8px;
    border: 1px solid var(--success-500);
    z-index: 100;
    overflow: hidden;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.user-dropdown>button{
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    border-radius: 0;
    border-bottom: 1px solid var(--success-500);
    border-right: none;
    border-left: none;
    border-top: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    color: white;
}

.user-dropdown>button:last-child{
    border-bottom: none;
}

.user-dropdown>button:hover{
    background: #48405c;
}

.dropdown{
    display: flex;
    justify-content: center;
    position: relative;
}

.dropdown>h2{
    font-size: 18px;
    font-weight: 600;
    color: white;
    stroke: white;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 6px 12px;
    border-radius: 12px;
    cursor: pointer;
}

.dropdown>h2:hover{
    background: #f0ad2c;
    border: 1px solid #978080;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.dropdown>h2>svg{
    width: 20px;
    height: 20px;
}

.content-wrapper{
    position: absolute;
    top: 100%;
    padding-top: 10%;
    display: none;
}

.dropdown-content{
    display: flex;
    width: 400px;
    border-radius: 12px;
    background: #2D2937;
    border: 1px solid #f0ad2c;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
}



.dropdown:hover .content-wrapper{
    display: flex;
    animation: fadeInPop 0.2s ease-in-out;
}

@keyframes fadeInPop {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      opacity: 0.8;
      transform: scale(0.7);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.dropdown-item{
    width: 100%;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-radius: 12px;
}

.dropdown-item:hover{
    background: #48405c;
}

.selected-item{
    background: #48405c;
}

.dropdown-item>h6{
    font-size: 16px;
    font-weight: 500;
    color: white;
    stroke: white;
    display: flex;
    gap: 8px;
    align-items: center;
}

.dropdown-item>h6>svg{
    width: 20px;
    height: 20px;
}