.staff-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.staff-container>p{
    font-size: 20px;
    font-weight: 600;
    color: #f0ad2c;
}

.staff-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.staff-wrapper>p{
    font-size: 16px;
    font-weight: 500;
    color: rgb(221, 212, 212);
    font-family: "Inter-Variable";
}

.staff-heads{
    display: flex;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.staff{
    display: flex;
    align-items: center;
    gap: 16px;
}

.staff>p{
    font-size: 28px;
    font-weight: 600;
    color: white;
    font-family: "SpaceGrotesk-Variable";
}

@media only screen and (max-width: 768px) {
    .staff-heads{
        flex-direction: column;
        align-items: flex-start;
    }

    .staff-container{
        width: 100%;
    }
}