.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 100%;
}

.main-heading{
    width: 950px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.main-heading>h2{
    font-size: 18px;
    font-weight: 700;
    color: #f0ad2c;
}

.main-heading>h1, .info-wrapper>h1{
    font-size: 32px;
    font-weight: 600;
    color: white;
    width: 90%;
    font-family: "Inter-Variable";
    text-align: center;
}

.main-heading>p{
    font-size: 16px;
    font-weight: 400;
    color: rgb(221, 212, 212);
    font-family: "Inter-Variable";
    text-align: center;
}

.map{
    width: 100%;
    height: 500px;
}

.info-wrapper>ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.info-wrapper>ul>li{
    list-style: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #f0ad2c;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #2D2937;
    color: white;
}

.server-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
}

.info-wrapper{
    width: calc(50% - 8px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
}

.main-heading>img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.visible {
    opacity: 1;
    animation: fadeIn 1s forwards;
}
  
.hidden {
    display: none;
}
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.main-heading>a{
    padding: 8px 16px;
    background-color: #2D2937;
    border: 1px solid #f0ad2c;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 500;
}

.main-heading>a>svg{
    width: 24px;
    height: 24px;
}

.main-heading>a:hover{
    background-color: #48405c;
    transition: background-color 0.2s ease-in-out;
}